*
{
    padding: 0;
    margin: 0;
    color: white;
    text-decoration: none;
}

body
{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(135deg, #f64444, #611cad);
}

main
{
    position: absolute;
    height: 90vh;
    width: 90vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    box-shadow: 5px 20px 20px rgba(0, 0, 0, 0.4);
}


#container
{
    position: absolute;
    height: 90%;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Configuração do topo do site */
#topo
{
    position: relative;
    height: 10%;
    width: 100%;
}

#topo .elemento
{
    height: 100%;
    width: 33.33%;
    display: inline-block;
}

#topo .o1
{
    position: absolute;
}

#topo h3
{
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
    color: red;
    font-size: 3em;
}

#topo .o2
{
    position: absolute;
    left: 40%;
    transform: translate(-70%);
}

.o2 p, ion-icon
{
    position: relative;
    display: inline-block;
    top: 50%;
    transform: translate(0%, -50%);
    color: grey;
}

#topo .o3
{
    position: absolute;
    right: 0%;
}

.o3 ion-icon
{
    position: absolute;
    left: 70%;
}

.o3 a
{
    position: relative;
    height: 100%;
    left: 80%;
}

.o3 img
{
    position: absolute;
    top: 50%;
    transform: translate(0%, 25%);
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

/* Configuração do miolo do site */
#container .bannerPrincipal, .dadosFilme, .separador{
    position: relative;
    display: inline-block;
    height: 90%;
}
#container .bannerPrincipal
{
    width: 35%;
}
.bannerPrincipal img{
    width: 100%;
    height: 100%;
}

/* separação do filme principal para os dados a direita. */
#container .separador{
    width: 10%;
    left: -0.4%;
}
#container .dadosFilme
{
    width: 55%;
    top: -90.6%;
    left: 44.93%;

}


/* Dados do a direita */
#container .cabeçario
{
    position: relative;
    height: 25%;
    width: 100%;

}
.linha1	{
    position: absolute;
    width: 100%;
    top: 15%;
}
.linha1 .titulo, .nota, .icone
{
    display: inline-block;
}
.linha1 .titulo{
    position: absolute;
    height: 30%;
    width: 80%;
    font-size: 0.8em;
}
.linha1 .nota{
    position: relative;
    width: 15%;
    top: -30%;
    font-size: 1.5em;

}
.linha1 .icone{
    position: relative;
    width: 5%;
    height: 100%;

}
.icone ion-icon{
    top: 50%;
    font-size: 1.5em;
}
.linha2 p
{
    display: inline-block;
}
.nota{
    position: absolute;
    height: 30%;
    width: 20%;
    left: 80%;
    display: inline-block;
}

.nota h2{
    position: relative;
    left: 35%;
    font-size: 1.1em;
}
.nota ion-icon{
    position: relative;
    font-size: 1.6em;
    color: yellow;
}
.linha2{
    position: absolute;
    top: 75%;
    transform: translate( 0%, -50%);
    font-size: 0.8em;
}
.linha2 p{
    
    padding: 10px;
    color: grey;
    border-right: solid 1px grey;
}




.linhaApoio{
    height: 1px;
    width: 100%;
    bottom: 0%;
    background-color: grey;
}

.dadosFilme .navegation
{
    position: absolute;
    height: 10%;
    top: 35%;
    width: 100%;
}
.navegation a{
    color: grey;
    margin-right: 18%;
}
.sinopse
{
    position: absolute;
    height: 10%;
    top: 45%;
    width: 100%;
}
.sinopse label{
    color: grey;
    padding-right: 40px;
}

.demaisFilmes
{
    position: absolute;
    height: 25%;
    width: 100%;
    bottom: 0%;
    background-color: red;
}
.demaisFilmes a{
    position: relative;
    height: 85%;
    width: 30%;
    bottom: 0%;
    background-color: blue;
    display: inline-block;
}