/* Base de tudo */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #808080;
    border: solid 1px white;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: #464646;
}
main
{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 70%;
    background-image: linear-gradient(135deg, #f64444, #611cad);
    overflow: hidden;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
    width: 90%;
    background-color: #000000;
    box-shadow: 5px 20px 20px #00000066;
}
#container{
    display: flex;
    flex-direction: column;
    height: 95%;
    width: 90%;
    flex-direction: column;
}
/* ______________________________ */
/* Menu */
#container #menu{
    display: flex;
    flex-direction: row;
    height: 10%;
}
#menu .left{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30%;
}
.left .logo{
    display: flex;
    align-items: flex-start;
    width: 33%;
}
.left .busca{
    display: flex;
    justify-content: space-around;
    width: 77%;
}

#menu .right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 75%;
}

.right .alarme{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-right: 10px;
}
.right .imagemUser{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
/* ______________________________ */





#container #container_miolo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 85%;
}
#container_miolo #container_main_image, #container_dados{
    height: 100%;
}
#container_main_image{
    width: 40%;
}
#container_main_image img{
    height: 100%;
}
#container_dados{
    width: 50%;

}